<div class="reservation-form-container">
  <div class="header">
    <h2>Formulario de Reservación</h2>
    <span class="current-date">{{ currentDate | date: 'dd/MM/yyyy' }}</span>
  </div>

  <div class="form-group">
    <label for="client">Cliente:</label>
    <div *ngIf="client">
      <span>Nombre del Cliente: {{ client.firstName }} {{ client.lastName }}</span>
    </div>
  </div>

  <form (ngSubmit)="submitForm()" #reservationForm="ngForm">
    <div class="form-group">
      <label for="checkInDate">Fecha de Ingreso (12:00 PM)</label>
      <input 
        type="date" 
        id="checkInDate" 
        [(ngModel)]="reservation.checkInDate" 
        name="checkInDate"
        [min]="minCheckInDate" 
        [max]="maxCheckInDate" 
        required 
        (change)="onCheckInDateChange()" />
    </div>

    <div class="form-group room-selection">
      <label for="roomId">Cuarto:</label>
      <div class="room-selector">
        <button type="button" class="view-button" (click)="viewRooms()">Ver</button>
        <select 
          id="roomId" 
          [(ngModel)]="reservation.roomId" 
          name="roomId" 
          required 
          [disabled]="rooms.length === 0"
          (change)="onRoomChange()">
          <option *ngFor="let room of rooms" [value]="room.roomId">
            {{ room.roomNumber }} - S/ {{ room.pricePerNight | number:'1.2-2' }} - {{ room.roomType }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="totalAmount">Monto a Pagar:</label>
      <input 
        type="text" 
        id="totalAmount" 
        [value]="'S/ ' + (reservation.totalAmount | number:'1.2-2')" 
        readonly />
    </div>

    <div class="button-container">
      <button type="submit">
        Reservar
      </button>
    </div>
  </form>
</div>
