.reservation-form-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-form-container h2 {
  font-size: 2rem;
  color: #8b6b3d;
  margin-bottom: 1rem;
  text-align: left; /* Asegura que el título esté a la izquierda */
}

.reservation-form-container .header {
  display: flex;
  justify-content: space-between; /* Espacio entre el título y la fecha */
  align-items: center;
}

.reservation-form-container .current-date {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.reservation-form-container label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.reservation-form-container input,
.reservation-form-container select {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.client-selection {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el select y el botón */
}

.reservation-form-container .button-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.reservation-form-container button {
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  background-color: #4caf50;
  color: white;
}

.reservation-form-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reservation-form-container .btn-small {
  width: auto;
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.reservation-form-container .btn-small:hover {
  background-color: #0056b3;
}

.time-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.time-grid button {
  padding: 8px;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.time-grid button.selected {
  background-color: #4caf50;
  color: white;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .reservation-form-container {
    padding: 1.5rem;
  }

  .reservation-form-container h2 {
    font-size: 1.8rem;
  }

  .reservation-form-container input,
  .reservation-form-container select {
    padding: 0.8rem;
  }

  .reservation-form-container button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  .reservation-form-container .button-container {
    flex-direction: column;
    align-items: center;
  }
}
