<section class="hero">
  <div class="hero-content">
    <h1>Bienvenidos a la estancia del</h1>
    <h2>Hotel Yuraq Anka</h2>
    <button class="btn-primary">Ver habitaciones</button>
  </div>
</section>

<section class="about">
  <div class="about-content">
    <h3>BIENVENIDO A</h3>
    <h4>HOTEL YURAQ ANKA</h4>
    <p>
      Somos un hotel, dedicado a brindarte comodidad y tranquilidad con un ambiente
      de confort y seguridad. Nos encontramos ubicados en la ciudad de Huancayo, en
      la Urbanización Millo Tingo, en el Jr. Los Manzanos y Jr. Cartón 655.
      Contamos con una variedad de habitaciones adaptadas a tus necesidades y los
      mejores servicios en cada habitación, como Wi-Fi gratuito, TV por cable, y
      mucho más. Además, nuestro personal está capacitado para ofrecer seguridad,
      limpieza y atención de alta calidad las 24 horas del día.
    </p>
    <button class="btn-primary">Reservar</button>
  </div>
  <div class="about-image">
    <img src="https://i.ibb.co/vBQ89ky/e5b86888952dd380382e28611c1b8974.png" alt="Hotel Yuraq Anka" />
  </div>
</section>

<section class="map">
  <h3>UBICACIÓN</h3>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31545.674948058087!2d-75.2225!3d-12.0705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0!2zMTLCsDA0JzExLjYiUyA3NcKwMTMnMjEuNiJX!5e0!3m2!1sen!2spe!4v1698412726371"
    allowfullscreen=""
    loading="lazy"
    title="Hotel Location"
  ></iframe>
</section>
