<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="https://i.ibb.co/MnCHkb1/8ee1b8429840d07a318856bfea75af9c.png" alt="Logo" class="logo-img" />
    </div>
    <button class="menu-toggle" (click)="toggleMenu()" (keydown)="onKeyDown($event)">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    <ul class="nav-links" [ngClass]="{'active': menuActive}">
      <li><a (click)="navigateToHome()">Inicio</a></li>
      <li><a (click)="navigateToAbout()">Nosotros</a></li>
      <li><a (click)="navigateToRooms()">Dormitorios</a></li>
      <li><a (click)="navigateToReservation()">Reservar</a></li>
      <li><a (click)="navigateToContact()">Contactanos</a></li>
    </ul>
  </div>
</nav>
